<% if object.errors.any? %>
 <div class="container w-50">
   <div class="content">
     <div class="alert alert-danger">
      <strong>You have: <%= pluralize(object.errors.count, "error") %></strong>
      <% end %>
       <% object.errors.full_messages.each do |msg| %>
        <ul>
         <li><%= msg %></li>
        </ul>
       <% end %>
     </div>
   </div>
 </div>
